# Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
Debug/
Release/

# Rider
.idea/

# Наши рабочие папки
DigitalGardener_Archive/
DigitalGardener_Logs/
DigitalGardener_Reports/
DigitalGardener_Settings/

# OS
Thumbs.db
desktop.ini